<!-- Background image -->
<div class="container-fluid" id="intro">
  <br>

  <div class="container-sm" style="border: 5px solid rgb(63, 4, 63);padding: 10px;">
    <h1 class="display-1">Penny's Coffe</h1><br>
    <form action="/waiters" method="POST">
      <input class="form-control form-control-lg" type="text" placeholder="Enter your name here"
        aria-label=".form-control-lg example" id="forms" name="inputName">


      <br>

      <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </form>
  </div>


</div>